.titulo{
    text-align: center;
    
    h1{
        font-weight: bold;
    }
    p{
        font-family: cursive;
    }
}
.malandrinha{
 background-color: #E6E6FA;

}
.ana{
    align-content: center;
    p{
        text-align: center;
    }
}
.texto_ana{
    font-size: smaller;
    margin-left: 30px;
    margin-top: -80px;
}
.texto_jovane{
    font-size: smaller;
    margin-left: 70px;
    margin-top: -80px;
}
.texto_rafao{
    font-size: smaller;
    margin-left: 70px;
    margin-top: -80px;
}
#nome_jovane{
    text-align: center;
}
#nome_rafao{
    text-align: center;
}
#botao_twitter_rafao{
    --border-radius : 40px;
}
.rafael{
    background-color: #00FFFF;
    border-radius: 30px;
}
.giovane{
    background-color: #66CDAA;
    border-radius: 30px;
}
.ana{
    background-color: #7FFFD4;
    border-radius: 30px;
}
ion-content{
    --background: #ADD8E6;
  }

#imagem_boneco{
    height: 200px;
}