.titulo{
    text-align: center;
    
    h1{
        font-weight: bold;
    }
    p{
        font-family: cursive;
    }
}
.malandrinha{
 background-color: #E6E6FA;
 border-radius: 30px;
}
.ana{
    align-content: center;
    p{
        text-align: center;
    }
}
.texto_ana{
    font-size: smaller;
    margin-left: 30px;
    margin-top: -80px;
}
.texto_jovane{
    font-size: smaller;
    margin-left: 70px;
    margin-top: -80px;
}
.texto_rafao{
    font-size: smaller;
    margin-left: 70px;
    margin-top: -80px;
}