<ion-header>
  <br>
</ion-header>

<ion-content>
  <div class="malandrinha">
    <div class="titulo">
      <h1>Eis aqui quem me deu vida... *Bip Bop*</h1>
      <ion-img src="../../assets/imagem_criacao.jpeg"></ion-img>
      <p>Siga os desenvolvedores, mas só se você quiser!</p>
      <br>
    </div>
  </div>

  <div class="ana">
    <p>Ana Lívia Mendonça (Ana)</p>
    <ion-avatar>
      <ion-img src="../../assets/ana.jpeg" alt="foto_ana">
      </ion-img>
    </ion-avatar>
    <div class="texto_ana">
      <p id="texto_ana">Texto que fala sobre a Ana</p>
    </div>
    <br><br><br><br>
  </div>

  <div class="giovane">
    <p id="nome_jovane">Giovane Vieira (Jovane)</p>
    <ion-avatar>
      <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="foto_jovane">
      </ion-img>
    </ion-avatar>
    <div class="texto_jovane">
      <p id="texto_jovane">Texto que fala sobre o Jovane</p>
      <ion-button id="botao_twitter_rafao" href="https://twitter.com/Giovane_Jovanee" target="_blank"><ion-icon name="logo-twitter"></ion-icon></ion-button>
    </div>
    <br><br>
  </div>

  <div class="rafael">
    <p id="nome_rafao">Rafael Monteiro (Rafão)</p>
    <ion-avatar>
      <ion-img src="../../assets/rafao.jpg" alt="foto_rafao"></ion-img>
    </ion-avatar>
    <div class="texto_rafao">
      <p id="texto_rafao">Programador Front-end e Back-end, além de admirador do café.</p>
      <ion-button id="botao_twitter_rafao" href="https://twitter.com/Rafao_Rafoso" target="_blank"><ion-icon name="logo-twitter"></ion-icon></ion-button>
      <ion-button id="botao_twitter_rafao" href="https://www.reddit.com/user/Rafaelmonte" target="_blank"><ion-icon name="logo-reddit"></ion-icon></ion-button>
    </div>
    <br><br>
  </div>
  <br><br><br>
</ion-content>