.inception{
    background-color: #E6E6FA;
    border-radius: 30px;
}

.titulo{
    text-align: center;
    
    h1{
        font-weight: bold;
    }
    p{
        font-family: cursive;
    }
}

#campo_email{
 border-radius: 40px;
 border-color: black;
 border-width: 2px;
 border-style: solid;
}
.botoes{
    margin-left: 80px;
}
