<ion-header>
  <br>
</ion-header>

<ion-content>
  <div class="inicio">
    <h1 id="titulo">Cadastro</h1> 
    <p id="subtitulo">Junte-se a nós!</p> 
    <ion-img src="../../assets/mascote_pinterest.jpg" alt="imagem_do_gato"></ion-img>
  </div>
  <div class="big_brain">
    <div class="cadastro">
      <br>
      <ion-label position="floating">Nome: </ion-label>
      <ion-input type="text" placeholder="Insira aqui" [(ngModel)]="nome" name="nome"></ion-input>
      <ion-label position="floating">Email: </ion-label>
      <ion-input type="text" placeholder="Insira aqui" [(ngModel)]="email" name="email"></ion-input>
      <ion-label position="floating">Senha: </ion-label>
      <ion-input type="password" placeholder="Insira aqui" [(ngModel)]="senha" name="senha"></ion-input>
      <ion-label position="floating">Repita a senha: </ion-label>
      <ion-input type="password" placeholder="Insira aqui" [(ngModel)]="senha_c" name="senha_c"></ion-input>
      <br>
      <ion-checkbox checked="false"></ion-checkbox><ion-label id="texticulo">Desejo criar uma conta</ion-label>
      <br><br>
    </div>  
  </div>
 
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button id="botao_inscricao" (click)="inscrever(nome, email, senha, senha_c)"> Cadastrar-me!</ion-button>
  </ion-toolbar>
</ion-footer>