<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mercado App (ainda sem nome ksksks)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-title>O maior deles!</ion-card-title>
          </ion-card-header>
        <ion-card-content class="imgcont"> 
          <ion-img src="../../assets/mascote_celular.jpg" alt="img"></ion-img>
            <p class="txtcont">Clique em mim!</p> <br>

        </ion-card-content>
           
         
        </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Mais praticidade!</ion-card-title>
        </ion-card-header>
        <ion-card-content class="imgcont">
          <ion-img src="../../assets/img2.jpg" alt="img2"></ion-img>
           <p class="txtcont">Experimente fazer suas compras online e poupe tempo!</p><br>
        </ion-card-content>
      </ion-card>  
    </ion-slide>
  </ion-slides>
  


  <p id="criadores"><a href="criadores">by: Ana, Jovane e Rafão</a></p>
  <br><br><br><br>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button id="inscrever" size="medium" (click)="cadastro()">Cadastrar-me</ion-button>
    <ion-button id="entrar" size="medium" (click)="login()">Entrar</ion-button> <br>
  </ion-toolbar>

</ion-footer>