#inscrever{
  align-content: left;
  --border-radius: 30px;
  
}
#criadores{
  font-size: xx-small;
  text-align: center;
}
#entrar{
  margin-left: 30px;
  --border-radius: 30px;
}
ion-content{
  --background: #ADD8E6;
}